body{
    margin: 0;
}

header{
    position: relative;
    display: flex;
    font-family: 'Poppins', 'Outfit', 'Quicksand', 'Comfortaa', 'Josefin Sans';
    font-size: 0.7em;
    font-weight: 100;
    align-items: center;
}

.search-icon{
    display: inline-block;
    border: none;
    outline: none;
    background: transparent;
    margin-right: 10px;
    margin-left: auto;
}

.search-icon:hover{
    color: #00a994;
}

.nav-bar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.nav-bar a{
    color: white;
    text-decoration: none;
    padding: 7px;
    display: block;
    text-align: center;
}

.nav-bar a:hover{
    background-color: #00a994;
}

.nav-bar li{
    float: left;
}

.nav-bar a:active{
    background-color: #00a994;
}

.nav-bar .active{
    background-color: #00a994;
}

footer img{
    vertical-align: middle;
}

footer{
    background-color: hsl(0, 0%, 80%);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 10px;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px){
    header, .nav-bar, footer{
        width: 100%;
    }
}
